.contact {
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  font-size: 2vw;
  padding: 20px;
}

.contact img {
  max-width: 25vw;
}

.contact > div {
  color: white;
  line-height: 3.0vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact a {
  color: white;
  width: 100%;
  text-align: center;
}