.details {
  max-width: 1700px;
  padding: 75px 175px;
  margin: auto;
  font-family: 'Pridi', serif;
  font-weight: 300;
  font-size: 16pt;
}


.details h2 {
  margin-top:50px;
}

.details>p {
  padding: 0px 180px;
  margin: -5px 0px 1em 0px;
}

.firstParagraph {
  margin-bottom: 40px;
  padding: 0px 180px;
}

.leftImage {
  float: left;
  margin: 0 20px 20px 0;
  width: 30%;
}

.middleImage {
  width: 40%;
  margin: auto;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width <=1400px) {
  .details {
    padding: 75px 100px 60px 100px;
  }

  .details>p {
    padding: 0px 120px;
  }
}

@media screen and (width <=1200px) {
  .details {
    padding: 75px 80px 50px 80px;
  }

  .details>p {
    padding: 0px 100px;
  }
}

@media screen and (width <=1000px) {
  .details {
    padding: 75px 60px 40px 60px;
    font-size: 15pt;
  }

  .details>p {
    padding: 0px 80px;
  }
}

@media screen and (width <=900px) {
  .details {
    padding: 75px 20px 20px 20px;
  }

  .details>p {
    padding: 0px 0px;
  }
}

@media screen and (width <=640px) {
  .details {
    padding-bottom: 0px;
  }
  .leftImage {
    margin: 0px 10px 5px 0px;
    width: 50%;
  }
}

@media screen and (width <=400px) {
  .leftImage {
    float: none;
    margin: 0 auto;
    width: 80%;
  }
}
