.info {
  max-width: 1700px;
  margin: auto;
  font-family: 'Pridi', serif;
  font-weight: 300;
  font-size: 16pt;
  padding: 75px 175px;
  order: 1;
}

.firstParagraph {
  margin-bottom: 40px;
  padding: 0px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.grid a {
  font-size: inherit;
}

.opetusImg {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.jamitImg {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.majoitusImg {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.opetusText {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.jamitText {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.majoitusText {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.grid h2 {
  text-align: center;
}

.grid li {
  list-style-type: none;
  margin: 10px 0;
}

.grid>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.grid img {
  width: 100%;
}

@media screen and (width <=1400px) {
  .info {
    padding: 75px 100px;
  }

  .firstParagraph {
    padding: 0px 100px;
  }
}

@media screen and (width <=1200px) {
  .info {
    padding: 75px 60px;
  }

  .firstParagraph {
    padding: 0px 60px;
  }
}

@media screen and (width <=1000px) {
  .info {
    padding: 75px 20px;
  }

  .info h1 {
    font-size: 40pt;
  }

  .firstParagraph {
    padding: 0px 20px;
  }
}


@media screen and (width <=900px) {
  .info {
    padding: 50px 20px;
  }

  .firstParagraph {
    padding: 0;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 0px;
  }

  .grid img {
    width: 50%;
    margin-top: 30px;
  }

  .grid h2 {
    margin: 0px;
  }

}

@media screen and (width <=640px) {
  .info {
    padding: 50px 20px;
  }

  .firstParagraph {
    padding: 0;
  }

  .grid {
    display: none;
  }
}