.parallax {
  position: relative;
  overflow: hidden;
  height: fit-content;
  padding-bottom: 30px;
  /* Adjust as needed */
}

.parallaxBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/navetta3.png');
  filter: grayscale(60%) blur(5px);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}


.teachers {
  position: relative;
  z-index: 0;
}

.teachers h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.profiles {
  display: flex;
  justify-content: center;
}

.profiles>div {
  max-width: min(20vw,300px);
  box-shadow: 2px 2px 5px black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
  margin: 2vw;
  transition: transform 0.3s ease;
}

.profiles>div>h2 {
  font-size: min(1.8vw, 36px);
  padding: 5px 0;
}

.profiles>div:hover {
  cursor: pointer;
  transform: scale(1.2);
  /* Increase the size by 20% */
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chevron {
  color: white;
  font-size: 60pt;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  flex-shrink: 0;
}

.chevron:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.profile {
  box-shadow: 2px 2px 5px black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
  cursor: default;
  text-align: left;
  padding: 20px;
  max-width: 1200px;
  font-size: 16pt;
}

.profile h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

.profile img {
  margin: 0px 20px 0 0;
  float: left;
  width: 300px;
  height: 400px;
}

.profile p {
  margin: 20px 0 0 0;
}

@media screen and (width < 1024px) {
  .profiles>div {
    max-width: 24vw;
    margin: 2vw;
  }

  .profile img {
    width: 30vw;
    height: auto;
  }
  
}

@media screen and (width < 800px) {
  .profiles {
    flex-direction: column;
    align-items: center;
  }

  .profiles>div {
    max-width: 50vw;
    margin: 4vw;
  }

  .profile {
    font-size: 14pt;
  }

  .profiles>div>h2 {
    font-size: 4vw;
  }

  .profile h2 {
    text-align: center;
    margin: 0;
  }
  
  .profile img {
    display: block;
    float: none;
    margin: 40px;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    font-size: 12pt;
  }

  .chevron {
    color: white;
    font-size: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
  }
  
}

@media screen and (max-width: 480px) {
  .profile {
    font-size: 10pt;
    margin: 0px 10px;
  }

  .chevron {
    display: none;
  }
  
}